main {
  padding: 2rem 2.5rem;
  color: #ffffff;
  background: url('./Group.png') no-repeat right center;
}

.main--title {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: -0.05em;
}

.main--list {
  margin-top: 2rem;
  max-width: 400px;
}

.main--list > li {
  position: relative;
  line-height: 1rem;
  padding-block: 0.75rem;
}

.main--list > li::marker {
  font-size: 1.75rem;
  color: #61dafb;
  vertical-align: bottom;
}
