nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo {
  width: 48px;
}

@media (prefers-reduced-motion: no-preference) {
  .nav--logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-size: 24px;
  letter-spacing: -0.05em;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}
