nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

img {
  width: 48px;
}

@media (prefers-reduced-motion: no-preference) {
  img {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav > h3,
nav > h4 {
  margin: 0;
}

nav > h3 {
  margin-right: auto;
  color: #61dafb;
}

nav > h4 {
  color: #deebf8;
}
