@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  margin: 0;
  font-family: Montserrat;
}

.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 8px lightgray;
}

.logo {
  width: 60px;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items > li {
  margin: auto 1.5rem;
  /* padding: 5px; */
  /* background-color: lightgray; */
  transition: background-size 0.2s;
}

.nav-items > li:hover {
  box-shadow: 0 2px 0 lightgray;
}

.main {
  width: 50%;
  margin: 0 auto;
  padding-top: 1rem;
}

.footer {
  width: 50%;
  margin: 0 auto;
  font-size: small;
}
