html,
body {
  margin: 0;
  padding: 10px;
}

.navbar {
  display: flex;
}

.logo {
  width: 60px;
}

.nav-items {
  display: flex;
  /* justify-content: flex-end; */
  list-style: none;
}

li {
  margin: 0 10px;
}

footer {
  font-size: small;
}
