html,
body {
  /* margin-left: auto; */
  padding: 10px;
  display: block;
}

#root {
  /* display: inline-block; */
  margin-left: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 60px;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items > li {
  margin: 0 10px;
}

.main {
  width: 50%;
  margin: 0 auto;
}

.footer {
  width: 50%;
  margin: 0 auto;
  font-size: small;
}
